<!-- start wpo-page-title -->
<section class="wpo-page-title">
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <div class="wpo-breadcumb-wrap">
                    <h2>Course Single</h2>
                    <ol class="wpo-breadcumb-wrap">
                        <li><a asp-action="Index" asp-controller="Home">Home</a></li>
                        <li>Course</li>
                    </ol>
                </div>
            </div>
        </div> <!-- end row -->
    </div> <!-- end container -->
    <div class="shape-1"><img src="~/assets/images/shape/1.svg" alt=""></div>
    <div class="shape-2"><img src="~/assets/images/shape/2.svg" alt=""></div>
    <div class="shape-3"><img src="~/assets/images/shape/3.svg" alt=""></div>
    <div class="shape-4"><img src="~/assets/images/shape/4.svg" alt=""></div>
</section>
<!-- end page-title -->

<!-- wpo-course-details-area start -->
<div class="wpo-course-details-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-lg-8">
                <div class="wpo-course-details-wrap">
                    <div class="wpo-course-details-img">
                        <img src="~/assets/images/course-single.jpg" alt="">
                    </div>
                    <div class="wpo-course-details-tab">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="Overview-tab" data-bs-toggle="tab"
                                   href="#Overview" role="tab" aria-controls="Overview"
                                   aria-selected="true">Overview</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="Curriculum-tab" data-bs-toggle="tab" href="#Curriculum"
                                   role="tab" aria-controls="Curriculum" aria-selected="false">Curriculum</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="instructor-tab" data-bs-toggle="tab" href="#instructor"
                                   role="tab" aria-controls="instructor" aria-selected="false">instructor</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="reviews-tab" data-bs-toggle="tab" href="#reviews"
                                   role="tab" aria-controls="reviews" aria-selected="false">reviews</a>
                            </li>
                        </ul>
                    </div>
                    <div class="wpo-course-details-text">
                        <div class="tab-content">
                            <div id="Overview" class="tab-pane active">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="wpo-course-content">
                                            <div class="wpo-course-text-top">
                                                <h2>Learn WordPress & Elementor for Beginners</h2>
                                                <div class="course-b-text">
                                                    <p>On the other hand, we denounce with righteous indignation
                                                        and dislike men who are so beguiled and demoralized by
                                                        the charms of pleasure of the moment, so blinded by
                                                        desire, that they cannot foresee the pain and trouble
                                                        that are bound to ensue and equal blame belongs to those
                                                        who fail in their duty through weakness of will, which
                                                        is the same as saying through shrinking from toil and
                                                        pain.</p>
                                                    <p>These courses are perfectly simple and easy to distinguish.
                                                        In a free hour, when our power of choice is untrammelled
                                                        and when nothing prevents our being able to do what we
                                                        like best, every pleasure is to be welcomed and every
                                                        pain avoided.</p>
                                                    <p>But in certain circumstances and owing to the claims of
                                                        duty or the obligations of business it will frequently
                                                        occur that pleasures have to be repudiated and
                                                        annoyances accepted. The wise man therefore always holds
                                                        in these matters to this principle of selection: he
                                                        rejects pleasures.</p>
                                                </div>
                                                <div class="course-bb-text">
                                                    <h3>Why Choose This Course</h3>
                                                    <p>These courses are perfectly simple and easy to distinguish.
                                                        In a free hour, when our power of choice is untrammelled
                                                        and when nothing prevents our being able to do what we
                                                        like best, every pleasure.</p>
                                                    <ul>
                                                        <li>The wise man therefore always holds in these
                                                            matters.
                                                        </li>
                                                        <li>In a free hour, when our power of choice and when
                                                            nothing.
                                                        </li>
                                                        <li>Else he endures pains to avoid worse pains.</li>
                                                        <li>We denounce with righteous indignation and dislike
                                                            men.
                                                        </li>
                                                        <li>Which is the same as saying through.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="Curriculum" class="tab-pane">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="wpo-course-content">
                                            <div class="wpo-course-text-top">
                                                <h2>Starting Beginners Level Course</h2>
                                                <div class="course-b-text mt-1">
                                                    <p>On the other hand, we denounce with righteous indignation
                                                        and dislike men who are so beguiled and demoralized by
                                                        the charms of pleasure of the moment, so blinded by
                                                        desire, that they cannot foresee the pain and trouble
                                                        that are bound to ensue and equal blame belongs to those
                                                        who fail in their duty through weakness of will, which
                                                        is the same as saying through shrinking from toil and
                                                        pain.</p>
                                                </div>
                                                <div class="course-curriculam">
                                                    <ul>
                                                        <li><span><i class="fi flaticon-play-button"></i>Introduction of Editing<a
                                                                    href="#">Preview</a></span><small>20 Minutes</small>
                                                        </li>
                                                        <li><span><i class="fi flaticon-play-button"></i>Overview of Editing<a
                                                                    href="#">Preview</a></span><small>16 Minutes</small>
                                                        </li>
                                                        <li><span><i class="fi flaticon-e-learning"></i>Basic Editing Technology</span>
                                                        </li>
                                                        <li><span><i
                                                                    class="fi flaticon-knowledge"></i>Quiz</span><small>5
                                                                Questions</small></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="wpo-course-text-top">
                                                <h2>Intermediate Level Course</h2>
                                                <div class="course-b-text mt-1">
                                                    <p>On the other hand, we denounce with righteous indignation
                                                        and dislike men who are so beguiled and demoralized by
                                                        the charms of pleasure of the moment, so blinded by
                                                        desire, that they cannot foresee the pain and trouble
                                                        that are bound to ensue and equal blame belongs to those
                                                        who fail in their duty through weakness of will, which
                                                        is the same as saying through shrinking from toil and
                                                        pain.</p>
                                                </div>
                                                <div class="course-curriculam">
                                                    <ul>
                                                        <li><span><i class="fi flaticon-play-button"></i>Introduction of Editing<a
                                                                    href="#">Preview</a></span><small>20 Minutes</small>
                                                        </li>
                                                        <li><span><i class="fi flaticon-e-learning"></i>Basic Editing Technology</span>
                                                        </li>
                                                        <li><span><i
                                                                    class="fi flaticon-knowledge"></i>Quiz</span><small>5
                                                                Questions</small></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="instructor" class="tab-pane">
                                <div class="team-info-wrap">
                                    <div class="row align-items-center">
                                        <div class="col-lg-5">
                                            <div class="team-info-img">
                                                <img src="~/assets/images/at-single.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="col-lg-7">
                                            <div class="team-info-text">
                                                <h2>Courtney Henry</h2>
                                                <ul>
                                                    <li>Position: <span>Web Developer</span></li>
                                                    <li>Experience:<span>12 Years</span></li>
                                                    <li>Address:<span>6391 Elgin St. Celina, Delaware 10299</span></li>
                                                    <li>Phone:<span>+00 568 746 987</span></li>
                                                    <li>Email:<span>youremail@gmail.com</span></li>
                                                </ul>

                                                <div class="certificates-wrap">
                                                    <h2>Certificates</h2>

                                                    <div class="certificates-items">
                                                        <div class="certificates-item">
                                                            <img src="~/assets/images/certificates/1.jpg" alt="">
                                                        </div>
                                                        <div class="certificates-item">
                                                            <img src="~/assets/images/certificates/2.jpg" alt="">
                                                        </div>
                                                        <div class="certificates-item">
                                                            <img src="~/assets/images/certificates/3.jpg" alt="">
                                                        </div>
                                                        <div class="certificates-item">
                                                            <img src="~/assets/images/certificates/4.jpg" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="reviews" class="tab-pane">
                                <div class="row">
                                    <div class="col col-lg-10 col-12">
                                        <div class="client-rv">
                                            <div class="client-pic">
                                                <img src="~/assets/images/shop/shop-single/review/img-1.jpg" alt>
                                            </div>
                                            <div class="details">
                                                <div class="name-rating-time">
                                                    <div class="name-rating">
                                                        <div>
                                                            <h4>Jenefar Willium</h4>
                                                        </div>
                                                        <div class="product-rt">
                                                            <span>25 Sep 2023</span>
                                                            <div class="rating">
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star-o"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="review-body">
                                                    <p>There are many variations of passages of Lorem Ipsum
                                                        available, but the majority have suffered alteration in some
                                                        form, by injected humour, or randomised words which don't
                                                        look.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="client-rv">
                                            <div class="client-pic">
                                                <img src="~/assets/images/shop/shop-single/review/img-2.jpg" alt>
                                            </div>
                                            <div class="details">
                                                <div class="name-rating-time">
                                                    <div class="name-rating">
                                                        <div>
                                                            <h4>Maria Bannet</h4>
                                                        </div>
                                                        <div class="product-rt">
                                                            <span>28 Sep 2023</span>
                                                            <div class="rating">
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star-o"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="review-body">
                                                    <p>There are many variations of passages of Lorem Ipsum
                                                        available, but the majority have suffered alteration in some
                                                        form, by injected humour, or randomised words which don't
                                                        look.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div> <!-- end col -->

                                    <div class="col col-lg-12 col-12 review-form-wrapper">
                                        <div class="review-form">
                                            <h4>Add a review</h4>
                                            <p>Your email address will not be published. Required fields are marked
                                                *</p>
                                            <form>
                                                <div class="give-rat-sec">
                                                    <p>Your rating *</p>
                                                    <div class="give-rating">
                                                        <label>
                                                            <input type="radio" name="stars" value="1">
                                                            <span class="icon">★</span>
                                                        </label>
                                                        <label>
                                                            <input type="radio" name="stars" value="2">
                                                            <span class="icon">★</span>
                                                            <span class="icon">★</span>
                                                        </label>
                                                        <label>
                                                            <input type="radio" name="stars" value="3">
                                                            <span class="icon">★</span>
                                                            <span class="icon">★</span>
                                                            <span class="icon">★</span>
                                                        </label>
                                                        <label>
                                                            <input type="radio" name="stars" value="4">
                                                            <span class="icon">★</span>
                                                            <span class="icon">★</span>
                                                            <span class="icon">★</span>
                                                            <span class="icon">★</span>
                                                        </label>
                                                        <label>
                                                            <input type="radio" name="stars" value="5">
                                                            <span class="icon">★</span>
                                                            <span class="icon">★</span>
                                                            <span class="icon">★</span>
                                                            <span class="icon">★</span>
                                                            <span class="icon">★</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div>
                                                    <input type="text" class="form-control" placeholder="Name *"
                                                           required>
                                                </div>
                                                <div>
                                                    <input type="email" class="form-control" placeholder="Email *"
                                                           required>
                                                </div>
                                                <div>
                                                            <textarea class="form-control"
                                                                      placeholder="Review *"></textarea>
                                                </div>
                                                <div class="rating-wrapper">
                                                    <div class="submit">
                                                        <button type="submit" class="theme-btn-s2">Post
                                                            review
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-lg-4 col-12 course-sitebar">
                <div class="blog-sidebar">
                    <div class="widget features-widget">
                        <div class="features-top">
                            <h4>$80.20
                                <del>$94.99</del>
                            </h4>
                            <span> 5 days left!</span>
                        </div>
                        <div class="cart-btn">
                            <a href="cart.html" class="theme-btn-s3">Add to Cart</a>
                        </div>
                        <ul>
                            <li>Duration: <span>20 Hours</span></li>
                            <li>Lessons: <span>24</span></li>
                            <li>Videos <span>10 Hours</span></li>
                            <li>Students: <span>Max 100</span></li>
                            <li>Language: <span>English</span></li>
                            <li>Skill Level <span>Advanced</span></li>
                        </ul>
                    </div>
                    <div class="widget recent-post-widget">
                        <h3>Latest Course</h3>
                        <div class="posts">
                            <div class="post">
                                <div class="img-holder">
                                    <img src="~/assets/images/recent-course/img-1.jpg" alt>
                                </div>
                                <div class="details">
                                    <h4><a asp-action="BlogDetails" asp-controller="Blog">Learn WordPress & Elementor
                                            for Beginners</a>
                                    </h4>
                                    <span class="date">19 Jun 2023 </span>
                                </div>
                            </div>
                            <div class="post">
                                <div class="img-holder">
                                    <img src="~/assets/images/recent-course/img-2.jpg" alt>
                                </div>
                                <div class="details">
                                    <h4><a asp-action="BlogDetails" asp-controller="Blog">The Complete Guide to Be a
                                            Graphics Designer.</a>
                                    </h4>
                                    <span class="date">22 May 2023 </span>
                                </div>
                            </div>
                            <div class="post">
                                <div class="img-holder">
                                    <img src="~/assets/images/recent-course/img-3.jpg" alt>
                                </div>
                                <div class="details">
                                    <h4><a asp-action="BlogDetails" asp-controller="Blog">Learning How To Write As A
                                            Professional Author</a>
                                    </h4>
                                    <span class="date">12 Apr 2023 </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- wpo-course-details-area end -->

<!-- start wpo-subscribe-section -->
<section class="wpo-subscribe-section section-padding pt-0">
    <div class="container">
        <div class="wpo-subscribe-wrap">
            <div class="subscribe-text">
                <h3>Subscribe to our newsletter to receive
                    latest news on our services.</h3>
            </div>
            <div class="subscribe-form">
                <form action="#">
                    <div class="input-field">
                        <input type="email" placeholder="Enter your email" required>
                        <button type="submit">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>
    </div> <!-- end container -->
</section>
<!-- end subscribe-section -->