<!-- start wpo-page-title -->
<section class="wpo-page-title">
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <div class="wpo-breadcumb-wrap">
                    <h2>Course Archive</h2>
                    <ol class="wpo-breadcumb-wrap">
                        <li><a asp-action="Index" asp-controller="Home">Home</a></li>
                        <li>Course</li>
                    </ol>
                </div>
            </div>
        </div> <!-- end row -->
    </div> <!-- end container -->
    <div class="shape-1"><img src="~/assets/images/shape/1.svg" alt=""></div>
    <div class="shape-2"><img src="~/assets/images/shape/2.svg" alt=""></div>
    <div class="shape-3"><img src="~/assets/images/shape/3.svg" alt=""></div>
    <div class="shape-4"><img src="~/assets/images/shape/4.svg" alt=""></div>
</section>
<!-- end page-title -->

<!-- start wpo-course-page -->
<section class="wpo-course-page section-padding">
    <h2 class="hidden">some</h2>
    <div class="container">
        <div class="row">
            <div class="col-lg-9 order-lg-2">
                <!-- start wpo-product-section -->
                <section class="wpo-product-section">
                    <div class="sorting-section">
                        <ul class="product-sorting">
                            <li class="showing-results">Showing 1–10 of 32 results</li>
                            <li class="sorting-dropdown">
                                <select name="sorting" id="sorting" class="select-sorting">
                                    <option value="default" selected>Default Sorting</option>
                                    <option value="rating">Sort by average rating</option>
                                    <option value="date-desc">Sort by newness</option>
                                    <option value="price-asc">Sort by price: low to high</option>
                                    <option value="price-desc">Sort by price: high to low</option>
                                </select>
                            </li>
                        </ul>
                    </div>
                    <div class="wpo-popular-area">
                        <div class="wpo-popular-wrap">
                            <div class="row">
                                <div class="col col-lg-6 col-md-6 col-12">
                                    <div class="wpo-popular-single">
                                        <div class="wpo-popular-item">
                                            <div class="wpo-popular-img">
                                                <img src="~/assets/images/popular/img-1.jpg" alt="">
                                                <div class="thumb">
                                                    <span>$80</span>
                                                </div>
                                                <a asp-action="CourseSingle" asp-controller="Course" class="cart-btn">add to cart</a>
                                            </div>
                                            <div class="wpo-popular-content">
                                                <div class="wpo-popular-text-top">
                                                    <ul>
                                                        <li><img src="~/assets/images/popular/avater/img-1.jpg"
                                                                 alt=""></li>
                                                        <li><a asp-action="Index" asp-controller="Course">Robert Henry</a></li>
                                                    </ul>
                                                    <ul>
                                                        <li><i class="fi flaticon-star"></i></li>
                                                        <li>(4.5)</li>
                                                    </ul>
                                                </div>
                                                <h2><a asp-action="CourseSingle" asp-controller="Course">Learn WordPress & Elementor
                                                        for Beginners</a>
                                                </h2>

                                                <div class="wpo-popular-text-bottom">
                                                    <ul>
                                                        <li><i class="fi flaticon-reading-book"></i> 245
                                                            Students
                                                        </li>
                                                        <li><i class="fi flaticon-agenda"></i> 25 Lesson
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-lg-6 col-md-6 col-12">
                                    <div class="wpo-popular-single">
                                        <div class="wpo-popular-item">
                                            <div class="wpo-popular-img">
                                                <img src="~/assets/images/popular/img-2.jpg" alt="">
                                                <div class="thumb">
                                                    <span>$200</span>
                                                </div>
                                                <a asp-action="CourseSingle" asp-controller="Course" class="cart-btn">add to cart</a>
                                            </div>
                                            <div class="wpo-popular-content">
                                                <div class="wpo-popular-text-top">
                                                    <ul>
                                                        <li><img src="~/assets/images/popular/avater/img-2.jpg"
                                                                 alt=""></li>
                                                        <li><a asp-action="CourseSingle" asp-controller="Course">Jenny Wilson</a>
                                                        </li>
                                                    </ul>
                                                    <ul>
                                                        <li><i class="fi flaticon-star"></i></li>
                                                        <li>(5.0)</li>
                                                    </ul>
                                                </div>
                                                <h2><a asp-action="CourseSingle" asp-controller="Course">The Complete Guide to Be a
                                                        Graphics Designer.</a>
                                                </h2>

                                                <div class="wpo-popular-text-bottom">
                                                    <ul>
                                                        <li><i class="fi flaticon-reading-book"></i> 365
                                                            Students
                                                        </li>
                                                        <li><i class="fi flaticon-agenda"></i> 35 Lesson
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-lg-6 col-md-6 col-12">
                                    <div class="wpo-popular-single">
                                        <div class="wpo-popular-item">
                                            <div class="wpo-popular-img">
                                                <img src="~/assets/images/popular/img-3.jpg" alt="">
                                                <div class="thumb">
                                                    <span>$90</span>
                                                </div>
                                                <a asp-action="CourseSingle" asp-controller="Course" class="cart-btn">add to cart</a>
                                            </div>
                                            <div class="wpo-popular-content">
                                                <div class="wpo-popular-text-top">
                                                    <ul>
                                                        <li><img src="~/assets/images/popular/avater/img-3.jpg"
                                                                 alt=""></li>
                                                        <li><a asp-action="Index" asp-controller="Course">Jerome Bell</a></li>
                                                    </ul>
                                                    <ul>
                                                        <li><i class="fi flaticon-star"></i></li>
                                                        <li>(4.9)</li>
                                                    </ul>
                                                </div>
                                                <h2><a asp-action="CourseSingle" asp-controller="Course">Learning How To Write As A
                                                        Professional
                                                        Author</a>
                                                </h2>

                                                <div class="wpo-popular-text-bottom">
                                                    <ul>
                                                        <li><i class="fi flaticon-reading-book"></i> 134
                                                            Students
                                                        </li>
                                                        <li><i class="fi flaticon-agenda"></i> 12 Lesson
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-lg-6 col-md-6 col-12">
                                    <div class="wpo-popular-single">
                                        <div class="wpo-popular-item">
                                            <div class="wpo-popular-img">
                                                <img src="~/assets/images/popular/img-4.jpg" alt="">
                                                <div class="thumb">
                                                    <span>$80</span>
                                                </div>
                                                <a asp-action="CourseSingle" asp-controller="Course" class="cart-btn">add to cart</a>
                                            </div>
                                            <div class="wpo-popular-content">
                                                <div class="wpo-popular-text-top">
                                                    <ul>
                                                        <li><img src="~/assets/images/popular/avater/img-1.jpg"
                                                                 alt=""></li>
                                                        <li><a asp-action="Index" asp-controller="Course">Robert Henry</a></li>
                                                    </ul>
                                                    <ul>
                                                        <li><i class="fi flaticon-star"></i></li>
                                                        <li>(4.5)</li>
                                                    </ul>
                                                </div>
                                                <h2><a asp-action="CourseSingle" asp-controller="Course">Learn WordPress & Elementor for
                                                        Beginners</a>
                                                </h2>

                                                <div class="wpo-popular-text-bottom">
                                                    <ul>
                                                        <li><i class="fi flaticon-reading-book"></i> 245
                                                            Students
                                                        </li>
                                                        <li><i class="fi flaticon-agenda"></i> 25 Lesson</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-lg-6 col-md-6 col-12">
                                    <div class="wpo-popular-single">
                                        <div class="wpo-popular-item">
                                            <div class="wpo-popular-img">
                                                <img src="~/assets/images/popular/img-5.jpg" alt="">
                                                <div class="thumb">
                                                    <span>$200</span>
                                                </div>
                                                <a asp-action="CourseSingle" asp-controller="Course" class="cart-btn">add to cart</a>
                                            </div>
                                            <div class="wpo-popular-content">
                                                <div class="wpo-popular-text-top">
                                                    <ul>
                                                        <li><img src="~/assets/images/popular/avater/img-2.jpg"
                                                                 alt=""></li>
                                                        <li><a asp-action="CourseSingle" asp-controller="Course">Jenny Wilson</a></li>
                                                    </ul>
                                                    <ul>
                                                        <li><i class="fi flaticon-star"></i></li>
                                                        <li>(5.0)</li>
                                                    </ul>
                                                </div>
                                                <h2><a asp-action="CourseSingle" asp-controller="Course">The Complete Guide to Be a
                                                        Graphics Designer.</a>
                                                </h2>

                                                <div class="wpo-popular-text-bottom">
                                                    <ul>
                                                        <li><i class="fi flaticon-reading-book"></i> 365
                                                            Students
                                                        </li>
                                                        <li><i class="fi flaticon-agenda"></i> 35 Lesson</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-lg-6 col-md-6 col-12">
                                    <div class="wpo-popular-single">
                                        <div class="wpo-popular-item">
                                            <div class="wpo-popular-img">
                                                <img src="~/assets/images/popular/img-6.jpg" alt="">
                                                <div class="thumb">
                                                    <span>$90</span>
                                                </div>
                                                <a asp-action="CourseSingle" asp-controller="Course" class="cart-btn">add to cart</a>
                                            </div>
                                            <div class="wpo-popular-content">
                                                <div class="wpo-popular-text-top">
                                                    <ul>
                                                        <li><img src="~/assets/images/popular/avater/img-3.jpg"
                                                                 alt=""></li>
                                                        <li><a asp-action="Index" asp-controller="Course">Jerome Bell</a></li>
                                                    </ul>
                                                    <ul>
                                                        <li><i class="fi flaticon-star"></i></li>
                                                        <li>(4.9)</li>
                                                    </ul>
                                                </div>
                                                <h2><a asp-action="CourseSingle" asp-controller="Course">Learning How To Write As A
                                                        Professional
                                                        Author</a>
                                                </h2>

                                                <div class="wpo-popular-text-bottom">
                                                    <ul>
                                                        <li><i class="fi flaticon-reading-book"></i> 134
                                                            Students
                                                        </li>
                                                        <li><i class="fi flaticon-agenda"></i> 12 Lesson</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pagination-wrapper pagination-wrapper-center">
                        <ul class="pg-pagination">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <i class="fi ti-angle-left"></i>
                                </a>
                            </li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <i class="fi ti-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </section>
                <!-- end wpo-product-section -->
            </div>
            <div class="col-lg-3 col-md-8 order-lg-1">
                <div class="wpo-course-sidebar">
                    <div class="widget widget_search">
                        <div class="search-widget">
                            <form class="searchform">
                                <div>
                                    <input type="text" placeholder="Search...">
                                    <button type="submit"><i class="ti-search"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="widget widget_product_categories">
                        <h3>Filter by categories</h3>
                        <ul class="product-categories">
                            <li class="cat-item">
                                <input id="cat-list-1" type="checkbox" name="cat-list-1">
                                <label for="cat-list-1">Art & Humanities <span>15</span></label>
                            </li>
                            <li class="cat-item">
                                <input id="cat-list-2" type="checkbox" name="cat-list-2">
                                <label for="cat-list-2">Web Design <span>10</span></label>
                            </li>
                            <li class="cat-item">
                                <input id="cat-list-3" type="checkbox" name="cat-list-3">
                                <label for="cat-list-3">Graphic Design <span>20</span></label>
                            </li>
                            <li class="cat-item">
                                <input id="cat-list-4" type="checkbox" name="cat-list-4">
                                <label for="cat-list-4">Technology <span>12</span></label>
                            </li>
                            <li class="cat-item">
                                <input id="cat-list-5" type="checkbox" name="cat-list-5">
                                <label for="cat-list-5">Management <span>10</span></label>
                            </li>
                            <li class="cat-item">
                                <input id="cat-list-6" type="checkbox" name="cat-list-6">
                                <label for="cat-list-6">Photoshop <span>08</span></label>
                            </li>
                        </ul>
                    </div>
                    <div class="widget widget_price_filter">
                        <h3>Filter By Price</h3>
                        <div class="filter-price">
                            <form>
                                <div id="slider-range" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
                                    <div class="ui-slider-range ui-widget-header ui-corner-all" style="left: 15.9574%; width: 47.8723%;"></div>
                                    <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 10%;"></span>
                                    <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 63%;"></span>
                                </div>
                                <button>filter</button>
                                <p>Price : <input type="text" id="amount"></p>
                            </form>
                        </div>
                    </div>
                    <div class="widget widget_product_categories">
                        <h3>Instructors</h3>
                        <ul class="product-categories">
                            <li class="cat-item">
                                <input id="ins-list-1" type="checkbox" name="ins-list-1">
                                <label for="ins-list-1">Robert Henry<span>10</span></label>
                            </li>
                            <li class="cat-item">
                                <input id="ins-list-2" type="checkbox" name="ins-list-2">
                                <label for="ins-list-2">Jenny Wilson<span>15</span></label>
                            </li>
                            <li class="cat-item">
                                <input id="ins-list-3" type="checkbox" name="ins-list-3">
                                <label for="ins-list-3">Jerome Bell<span>20</span></label>
                            </li>
                            <li class="cat-item">
                                <input id="ins-list-4" type="checkbox" name="ins-list-4">
                                <label for="ins-list-4">Aliza Aney <span>12</span></label>
                            </li>
                            <li class="cat-item">
                                <input id="ins-list-5" type="checkbox" name="ins-list-5">
                                <label for="ins-list-5">Kel William <span>10</span></label>
                            </li>
                            <li class="cat-item">
                                <input id="ins-list-6" type="checkbox" name="ins-list-6">
                                <label for="cat-list-6">Devid Miller <span>08</span></label>
                            </li>
                        </ul>
                    </div>
                    <div class="widget widget_product_categories">
                        <h3>Lavel</h3>
                        <ul class="product-categories">
                            <li class="cat-item">
                                <input id="lavel-list-1" type="checkbox" name="lavel-list-1">
                                <label for="lavel-list-1">All Levels<span>25</span></label>
                            </li>
                            <li class="cat-item">
                                <input id="lavel-list-2" type="checkbox" name="lavel-list-2">
                                <label for="lavel-list-2">Beginner<span>15</span></label>
                            </li>
                            <li class="cat-item">
                                <input id="lavel-list-3" type="checkbox" name="lavel-list-3">
                                <label for="lavel-list-3">Intermediate<span>20</span></label>
                            </li>
                            <li class="cat-item last">
                                <input id="lavel-list-4" type="checkbox" name="lavel-list-4">
                                <label for="lavel-list-4">Expert <span>12</span></label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- end wpo-course-page -->

<!-- start wpo-subscribe-section -->
<section class="wpo-subscribe-section section-padding pt-0">
    <div class="container">
        <div class="wpo-subscribe-wrap">
            <div class="subscribe-text">
                <h3>Subscribe to our newsletter to receive
                    latest news on our services.</h3>
            </div>
            <div class="subscribe-form">
                <form action="#">
                    <div class="input-field">
                        <input type="email" placeholder="Enter your email" required>
                        <button type="submit">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>
    </div> <!-- end container -->
</section>
<!-- end subscribe-section -->