<!-- start wpo-page-title -->
<section class="wpo-page-title">
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <div class="wpo-breadcumb-wrap">
                    <h2>About Us</h2>
                    <ol class="wpo-breadcumb-wrap">
                        <li><a asp-action="Index" asp-controller="Home">Home</a></li>
                        <li>About Us</li>
                    </ol>
                </div>
            </div>
        </div> <!-- end row -->
    </div> <!-- end container -->
    <div class="shape-1"><img src="~/assets/images/shape/1.svg" alt=""></div>
    <div class="shape-2"><img src="~/assets/images/shape/2.svg" alt=""></div>
    <div class="shape-3"><img src="~/assets/images/shape/3.svg" alt=""></div>
    <div class="shape-4"><img src="~/assets/images/shape/4.svg" alt=""></div>
</section>
<!-- end page-title -->

<!-- start of wpo-about-section -->
<section class="wpo-about-section section-padding">
    <div class="container">
        <div class="wpo-about-wrap">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="wpo-about-img-wrap">
                        <div class="wpo-about-img-left">
                            <div class="wpo-about-img">
                                <img src="~/assets/images/about/img-111.jpg" alt="">
                            </div>
                        </div>
                        <div class="wpo-about-img-right">
                            <div class="wpo-about-img-inner">
                                <img src="~/assets/images/about/img-222.png" alt="">
                            </div>
                            <div class="exprience-wrap">
                                <div class="exprience">
                                    <div class="icon"><i class="fi flaticon-award"></i></div>
                                    <div class="content">
                                        <h3>25+</h3>
                                        <p>Years Of Experience</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="wpo-about-text">
                        <div class="wpo-section-title">
                            <small>About Eduko</small>
                            <h2>A New Different Way To Improve Your
                                <span>
                                            Skills.
                                            <i class="shape">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 206 53"
                                                     fill="none">
                                                    <path
                                                        d="M152.182 2.58319C107.878 0.889793 54.8748 6.13932 21.2281 18.6943C14.2699 21.4407 7.93951 24.7738 5.70192 28.7128C4.27488 31.2398 5.03121 33.954 7.69121 36.2925C14.8835 42.3911 31.9822 45.4011 46.8006 47.3115C78.3067 51.0179 113.672 51.7406 145.489 48.3204C167.194 46.0009 200.667 39.5923 199.399 28.5709C198.543 20.0621 180.437 14.5729 162.979 11.6178C138.219 7.469 111.131 6.00576 84.5743 5.86862C71.32 5.85789 58.0913 6.85723 45.6675 8.78436C33.512 10.7186 21.2709 13.4317 12.6602 17.5817C11.2246 18.2877 8.62449 17.4553 9.9973 16.6813C20.7486 11.2493 38.0215 7.73493 53.9558 5.76368C77.1194 2.90994 101.75 3.75426 125.339 5.14356C158.167 7.2615 207.554 13.5139 204.928 30.7413C203.629 36.0898 194.762 40.5057 184.681 43.5503C156.563 51.768 119.114 53.6844 85.6331 52.5265C65.1694 51.7477 44.4831 50.1855 25.9972 46.2442C11.4129 43.1186 -1.0337 37.8297 0.0679738 30.5063C2.14003 19.9035 31.4913 12.0006 52.6201 7.98775C71.2971 4.45904 91.3384 2.2302 111.674 1.24636C125.228 0.595237 138.962 0.539188 152.536 1.15931C153.475 1.20224 154.154 1.55523 154.051 1.94876C153.951 2.33872 153.115 2.62135 152.182 2.58319Z"/>
                                                </svg>
                                            </i>
                                        </span>
                            </h2>
                        </div>
                        <p>Education is one of the most essential and valuable assets that an individual can
                            possess. It plays a pivotal role in shaping the future of individuals, societies,
                            and nations. The importance of education cannot be overstated, individuals
                            development of nations.</p>
                        <p>One of the primary benefits of education is its ability to empower individuals.
                            Through education, individuals acquire knowledge, skills, and enable them to
                            navigate the complexities of life.</p>
                        <div class="wpo-about-features-wrap">
                            <div class="wpo-about-features-item">
                                <div class="wpo-about-features-icon">
                                    <div class="icon">
                                        <i class="fi flaticon-training-1"></i>
                                    </div>
                                </div>
                                <div class="wpo-about-features-text">
                                    <h5>1250+ Courses</h5>
                                </div>
                            </div>
                            <div class="wpo-about-features-item">
                                <div class="wpo-about-features-icon">
                                    <div class="icon">
                                        <i class="fi flaticon-video-lesson"></i>
                                    </div>
                                </div>
                                <div class="wpo-about-features-text">
                                    <h5>500+ Free Class</h5>
                                </div>
                            </div>
                            <div class="wpo-about-features-item">
                                <div class="wpo-about-features-icon">
                                    <div class="icon">
                                        <i class="fi flaticon-team"></i>
                                    </div>
                                </div>
                                <div class="wpo-about-features-text">
                                    <h5>25k Students</h5>
                                </div>
                            </div>
                            <div class="wpo-about-features-item">
                                <div class="wpo-about-features-icon">
                                    <div class="icon">
                                        <i class="fi flaticon-training"></i>
                                    </div>
                                </div>
                                <div class="wpo-about-features-text">
                                    <h5>250+ Mentors</h5>
                                </div>
                            </div>
                        </div>
                        <a asp-action="About" asp-controller="Home" class="theme-btn-s2">Learn More About Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of wpo-about-section -->

<!-- start of wpo-courses-section -->
<section class="wpo-courses-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="wpo-section-title-s2">
                    <small>Our Courses</small>
                    <h2>Explore
                        <span>
                                    Courses
                                    <i class="shape">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 206 53" fill="none">
                                            <path
                                                d="M152.182 2.58319C107.878 0.889793 54.8748 6.13932 21.2281 18.6943C14.2699 21.4407 7.93951 24.7738 5.70192 28.7128C4.27488 31.2398 5.03121 33.954 7.69121 36.2925C14.8835 42.3911 31.9822 45.4011 46.8006 47.3115C78.3067 51.0179 113.672 51.7406 145.489 48.3204C167.194 46.0009 200.667 39.5923 199.399 28.5709C198.543 20.0621 180.437 14.5729 162.979 11.6178C138.219 7.469 111.131 6.00576 84.5743 5.86862C71.32 5.85789 58.0913 6.85723 45.6675 8.78436C33.512 10.7186 21.2709 13.4317 12.6602 17.5817C11.2246 18.2877 8.62449 17.4553 9.9973 16.6813C20.7486 11.2493 38.0215 7.73493 53.9558 5.76368C77.1194 2.90994 101.75 3.75426 125.339 5.14356C158.167 7.2615 207.554 13.5139 204.928 30.7413C203.629 36.0898 194.762 40.5057 184.681 43.5503C156.563 51.768 119.114 53.6844 85.6331 52.5265C65.1694 51.7477 44.4831 50.1855 25.9972 46.2442C11.4129 43.1186 -1.0337 37.8297 0.0679738 30.5063C2.14003 19.9035 31.4913 12.0006 52.6201 7.98775C71.2971 4.45904 91.3384 2.2302 111.674 1.24636C125.228 0.595237 138.962 0.539188 152.536 1.15931C153.475 1.20224 154.154 1.55523 154.051 1.94876C153.951 2.33872 153.115 2.62135 152.182 2.58319Z"/>
                                        </svg>
                                    </i>
                                </span>
                        By Category
                    </h2>
                </div>
            </div>
        </div>
        <div class="row-grid wpo-courses-wrap wpo-courses-slider owl-carousel">
            <div class="grid s1">
                <div class="wpo-courses-item">
                    <div class="wpo-courses-text">
                        <div class="courses-icon">
                            <i class="fi flaticon-user-experience"></i>
                        </div>
                        <h2><a asp-action="CourseSingle" asp-controller="Course">UI/UX Design</a></h2>
                        <p>We are providing you the best UI/UX design guideline. That help you be professional.
                        </p>
                    </div>
                </div>
            </div>
            <div class="grid s2">
                <div class="wpo-courses-item">
                    <div class="wpo-courses-text">
                        <div class="courses-icon">
                            <i class="fi flaticon-megaphone"></i>
                        </div>
                        <h2><a asp-action="CourseSingle" asp-controller="Course">Digital Marketing</a></h2>
                        <p>We are providing you the best Digital Marketing guideline. That help you be
                            professional. </p>
                    </div>
                </div>
            </div>
            <div class="grid s3">
                <div class="wpo-courses-item">
                    <div class="wpo-courses-text">
                        <div class="courses-icon">
                            <i class="fi flaticon-code"></i>
                        </div>
                        <h2><a asp-action="CourseSingle" asp-controller="Course">Development</a></h2>
                        <p>We are providing you the best Development guideline. That help you be professional.
                        </p>
                    </div>
                </div>
            </div>
            <div class="grid s4">
                <div class="wpo-courses-item">
                    <div class="wpo-courses-text">
                        <div class="courses-icon">
                            <i class="fi flaticon-knowledge"></i>
                        </div>
                        <h2><a asp-action="CourseSingle" asp-controller="Course">Self Improvement</a></h2>
                        <p>We are providing you the best Self Improvement guideline. That help you be
                            professional. </p>
                    </div>
                </div>
            </div>
            <div class="grid s5">
                <div class="wpo-courses-item">
                    <div class="wpo-courses-text">
                        <div class="courses-icon">
                            <i class="fi flaticon-video-lesson"></i>
                        </div>
                        <h2><a asp-action="CourseSingle" asp-controller="Course">Video Editing</a></h2>
                        <p>We are providing you the best Video Editing guideline. That help you be professional.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shape-1"><img src="~/assets/images/shape/1.svg" alt=""></div>
    <div class="shape-2"><img src="~/assets/images/shape/2.svg" alt=""></div>
    <div class="shape-3"><img src="~/assets/images/shape/3.svg" alt=""></div>
    <div class="shape-4"><img src="~/assets/images/shape/4.svg" alt=""></div>
</section>
<!-- end of wpo-courses-section -->

<!-- wpo-popular-area start -->
<div class="wpo-popular-area section-padding">
    <div class="container">
        <div class="wpo-section-title-s2">
            <small>Popular Courses</small>
            <h2>Discover Your Favorite
                <span>
                            Courses
                            <i class="shape">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 206 53" fill="none">
                                    <path
                                        d="M152.182 2.58319C107.878 0.889793 54.8748 6.13932 21.2281 18.6943C14.2699 21.4407 7.93951 24.7738 5.70192 28.7128C4.27488 31.2398 5.03121 33.954 7.69121 36.2925C14.8835 42.3911 31.9822 45.4011 46.8006 47.3115C78.3067 51.0179 113.672 51.7406 145.489 48.3204C167.194 46.0009 200.667 39.5923 199.399 28.5709C198.543 20.0621 180.437 14.5729 162.979 11.6178C138.219 7.469 111.131 6.00576 84.5743 5.86862C71.32 5.85789 58.0913 6.85723 45.6675 8.78436C33.512 10.7186 21.2709 13.4317 12.6602 17.5817C11.2246 18.2877 8.62449 17.4553 9.9973 16.6813C20.7486 11.2493 38.0215 7.73493 53.9558 5.76368C77.1194 2.90994 101.75 3.75426 125.339 5.14356C158.167 7.2615 207.554 13.5139 204.928 30.7413C203.629 36.0898 194.762 40.5057 184.681 43.5503C156.563 51.768 119.114 53.6844 85.6331 52.5265C65.1694 51.7477 44.4831 50.1855 25.9972 46.2442C11.4129 43.1186 -1.0337 37.8297 0.0679738 30.5063C2.14003 19.9035 31.4913 12.0006 52.6201 7.98775C71.2971 4.45904 91.3384 2.2302 111.674 1.24636C125.228 0.595237 138.962 0.539188 152.536 1.15931C153.475 1.20224 154.154 1.55523 154.051 1.94876C153.951 2.33872 153.115 2.62135 152.182 2.58319Z"/>
                                </svg>
                            </i>
                        </span>
            </h2>
        </div>
        <div class="wpo-popular-wrap">
            <div class="row">
                <div class="col col-lg-4 col-md-6 col-12">
                    <div class="wpo-popular-single">
                        <div class="wpo-popular-item">
                            <div class="wpo-popular-img">
                                <img src="~/assets/images/popular/img-1.jpg" alt="">
                                <div class="thumb">
                                    <span>$80</span>
                                </div>
                            </div>
                            <div class="wpo-popular-content">
                                <div class="wpo-popular-text-top">
                                    <ul>
                                        <li><img src="~/assets/images/popular/avater/img-1.jpg" alt=""></li>
                                        <li><a asp-action="Index" asp-controller="Course">Robert Henry</a></li>
                                    </ul>
                                    <ul>
                                        <li><i class="fi flaticon-star"></i></li>
                                        <li>(4.5)</li>
                                    </ul>
                                </div>
                                <h2><a asp-action="CourseSingle" asp-controller="Course">Learn WordPress & Elementor for
                                        Beginners</a>
                                </h2>

                                <div class="wpo-popular-text-bottom">
                                    <ul>
                                        <li><i class="fi flaticon-reading-book"></i> 245 Students</li>
                                        <li><i class="fi flaticon-agenda"></i> 25 Lesson</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-4 col-md-6 col-12">
                    <div class="wpo-popular-single">
                        <div class="wpo-popular-item">
                            <div class="wpo-popular-img">
                                <img src="~/assets/images/popular/img-2.jpg" alt="">
                                <div class="thumb">
                                    <span>$200</span>
                                </div>
                            </div>
                            <div class="wpo-popular-content">
                                <div class="wpo-popular-text-top">
                                    <ul>
                                        <li><img src="~/assets/images/popular/avater/img-2.jpg" alt=""></li>
                                        <li><a asp-action="CourseSingle" asp-controller="Course">Jenny Wilson</a></li>
                                    </ul>
                                    <ul>
                                        <li><i class="fi flaticon-star"></i></li>
                                        <li>(5.0)</li>
                                    </ul>
                                </div>
                                <h2><a asp-action="CourseSingle" asp-controller="Course">The Complete Guide to Be a
                                        Graphics Designer.</a>
                                </h2>

                                <div class="wpo-popular-text-bottom">
                                    <ul>
                                        <li><i class="fi flaticon-reading-book"></i> 365 Students</li>
                                        <li><i class="fi flaticon-agenda"></i> 35 Lesson</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-4 col-md-6 col-12">
                    <div class="wpo-popular-single">
                        <div class="wpo-popular-item">
                            <div class="wpo-popular-img">
                                <img src="~/assets/images/popular/img-3.jpg" alt="">
                                <div class="thumb">
                                    <span>$90</span>
                                </div>
                            </div>
                            <div class="wpo-popular-content">
                                <div class="wpo-popular-text-top">
                                    <ul>
                                        <li><img src="~/assets/images/popular/avater/img-3.jpg" alt=""></li>
                                        <li><a asp-action="Index" asp-controller="Course">Jerome Bell</a></li>
                                    </ul>
                                    <ul>
                                        <li><i class="fi flaticon-star"></i></li>
                                        <li>(4.9)</li>
                                    </ul>
                                </div>
                                <h2><a asp-action="CourseSingle" asp-controller="Course">Learning How To Write As A
                                        Professional
                                        Author</a>
                                </h2>

                                <div class="wpo-popular-text-bottom">
                                    <ul>
                                        <li><i class="fi flaticon-reading-book"></i> 134 Students</li>
                                        <li><i class="fi flaticon-agenda"></i> 12 Lesson</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="more-btn text-center">
            <a asp-action="Index" asp-controller="Course" class="theme-btn-s2">View All Courses</a>
        </div>
    </div>
</div>
<!-- wpo-popular-area end -->

<!-- start wpo-fun-fact-section -->
<section class="wpo-fun-fact-section-s2 section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <div class="wpo-fun-fact-grids clearfix">
                    <div class="grid">
                        <div class="info">
                            <h3><span class="odometer" data-count="985">00</span>+</h3>
                            <p>Student Enrolled</p>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="info">
                            <h3><span class="odometer" data-count="25">00</span>+</h3>
                            <p>Winning Award</p>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="info">
                            <h3><span class="odometer" data-count="35">00</span>+</h3>
                            <p>Event Organized</p>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="info">
                            <h3><span class="odometer" data-count="355">00</span>+</h3>
                            <p>Expert Mentor</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shape"><img src="~/assets/images/funfact-shape-1.png" alt=""></div>
    <div class="shape-2"><img src="~/assets/images/funfact-shape-2.png" alt=""></div>
</section>
<!-- end wpo-fun-fact-section -->

<!-- start wpo-Team-section -->
<section class="wpo-team-section section-padding">
    <div class="container">
        <div class="wpo-section-title-s2">
            <small>Our Professionals</small>
            <h2>Meet our
                <span>
                            Teachers
                            <i class="shape">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 206 53" fill="none">
                                    <path
                                        d="M152.182 2.58319C107.878 0.889793 54.8748 6.13932 21.2281 18.6943C14.2699 21.4407 7.93951 24.7738 5.70192 28.7128C4.27488 31.2398 5.03121 33.954 7.69121 36.2925C14.8835 42.3911 31.9822 45.4011 46.8006 47.3115C78.3067 51.0179 113.672 51.7406 145.489 48.3204C167.194 46.0009 200.667 39.5923 199.399 28.5709C198.543 20.0621 180.437 14.5729 162.979 11.6178C138.219 7.469 111.131 6.00576 84.5743 5.86862C71.32 5.85789 58.0913 6.85723 45.6675 8.78436C33.512 10.7186 21.2709 13.4317 12.6602 17.5817C11.2246 18.2877 8.62449 17.4553 9.9973 16.6813C20.7486 11.2493 38.0215 7.73493 53.9558 5.76368C77.1194 2.90994 101.75 3.75426 125.339 5.14356C158.167 7.2615 207.554 13.5139 204.928 30.7413C203.629 36.0898 194.762 40.5057 184.681 43.5503C156.563 51.768 119.114 53.6844 85.6331 52.5265C65.1694 51.7477 44.4831 50.1855 25.9972 46.2442C11.4129 43.1186 -1.0337 37.8297 0.0679738 30.5063C2.14003 19.9035 31.4913 12.0006 52.6201 7.98775C71.2971 4.45904 91.3384 2.2302 111.674 1.24636C125.228 0.595237 138.962 0.539188 152.536 1.15931C153.475 1.20224 154.154 1.55523 154.051 1.94876C153.951 2.33872 153.115 2.62135 152.182 2.58319Z"/>
                                </svg>
                            </i>
                        </span>
            </h2>
        </div>
        <div class="wpo-team-wrap">
            <div class="row">
                <div class="col col-lg-3 col-md-6 col-12">
                    <div class="wpo-team-item">
                        <div class="wpo-team-img">
                            <div class="wpo-team-img-box">
                                <img src="~/assets/images/team/1.jpg" alt="">
                                <ul>
                                    <li><a href="#"><i class="fi flaticon-facebook-app-symbol"></i></a></li>
                                    <li><a href="#"><i class="fi flaticon-twitter"></i></a></li>
                                    <li><a href="#"><i class="fi flaticon-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="wpo-team-text">
                            <h2><a asp-action="TeacherSingle" asp-controller="Teacher">Jenny Wilson</a></h2>
                            <span>Graphic Designer</span>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-3 col-md-6 col-12">
                    <div class="wpo-team-item active">
                        <div class="wpo-team-img">
                            <div class="wpo-team-img-box">
                                <img src="~/assets/images/team/2.jpg" alt="">
                                <ul>
                                    <li><a href="#"><i class="fi flaticon-facebook-app-symbol"></i></a></li>
                                    <li><a href="#"><i class="fi flaticon-twitter"></i></a></li>
                                    <li><a href="#"><i class="fi flaticon-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="wpo-team-text">
                            <h2><a asp-action="TeacherSingle" asp-controller="Teacher">Dianne Russell</a></h2>
                            <span>UX Designer</span>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-3 col-md-6 col-12">
                    <div class="wpo-team-item">
                        <div class="wpo-team-img">
                            <div class="wpo-team-img-box">
                                <img src="~/assets/images/team/3.jpg" alt="">
                                <ul>
                                    <li><a href="#"><i class="fi flaticon-facebook-app-symbol"></i></a></li>
                                    <li><a href="#"><i class="fi flaticon-twitter"></i></a></li>
                                    <li><a href="#"><i class="fi flaticon-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="wpo-team-text">
                            <h2><a asp-action="TeacherSingle" asp-controller="Teacher">Courtney Henry</a></h2>
                            <span>Senior Marketer</span>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-3 col-md-6 col-12">
                    <div class="wpo-team-item">
                        <div class="wpo-team-img">
                            <div class="wpo-team-img-box">
                                <img src="~/assets/images/team/4.jpg" alt="">
                                <ul>
                                    <li><a href="#"><i class="fi flaticon-facebook-app-symbol"></i></a></li>
                                    <li><a href="#"><i class="fi flaticon-twitter"></i></a></li>
                                    <li><a href="#"><i class="fi flaticon-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="wpo-team-text">
                            <h2><a asp-action="TeacherSingle" asp-controller="Teacher">Annette Black</a></h2>
                            <span>Web Developer</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end container -->
    <div class="shape-1"><img src="~/assets/images/team/shape-1.svg" alt=""></div>
    <div class="shape-2"><img src="~/assets/images/team/shape-2.svg" alt=""></div>
    <div class="shape-3"><img src="~/assets/images/team/shape-3.svg" alt=""></div>
    <div class="shape-4"><img src="~/assets/images/team/shape-4.svg" alt=""></div>
</section>
<!-- end Team-section -->

<!-- start wpo-subscribe-section -->
<section class="wpo-subscribe-section section-padding pt-0">
    <div class="container">
        <div class="wpo-subscribe-wrap">
            <div class="subscribe-text">
                <h3>Subscribe to our newsletter to receive
                    latest news on our services.</h3>
            </div>
            <div class="subscribe-form">
                <form action="#">
                    <div class="input-field">
                        <input type="email" placeholder="Enter your email" required>
                        <button type="submit">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>
    </div> <!-- end container -->
</section>
<!-- end subscribe-section -->