<!-- start of hero -->
<section class="static-hero">
    <div class="hero-container">
        <div class="hero-inner">
            <div class="container-fluid">
                <div class="hero-content">
                    <div data-swiper-parallax="300" class="slide-title-sub">
                        <span>Find Your Perfect Tutor</span>
                    </div>
                    <div data-swiper-parallax="300" class="slide-title">
                        <h2>Lets Learn About New
                            <span>
                                        Knowledge
                                        <i class="shape">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 412 80" fill="none">
                                                <path
                                                    d="M305.806 2.85331C216.778 0.253592 110.27 8.31273 42.6574 27.5873C28.675 31.8036 15.9543 36.9207 11.4579 42.9678C8.59028 46.8472 10.1101 51.0141 15.4553 54.6043C29.908 63.9669 64.2676 68.5878 94.0448 71.5208C157.356 77.2108 228.421 78.3203 292.357 73.0696C335.973 69.5087 403.235 59.67 400.689 42.7499C398.968 29.6872 362.584 21.2601 327.502 16.7234C277.749 10.3541 223.316 8.10768 169.95 7.89714C143.316 7.88066 116.733 9.41486 91.7679 12.3734C67.3417 15.343 42.7434 19.508 25.4403 25.8792C22.5555 26.963 17.3307 25.6851 20.0894 24.4969C41.6939 16.1577 76.4033 10.7623 108.423 7.73603C154.97 3.35495 204.465 4.65115 251.866 6.78402C317.832 10.0355 417.074 19.6343 411.798 46.0819C409.188 54.293 391.369 61.0724 371.112 65.7464C314.609 78.3624 239.358 81.3045 172.078 79.5268C130.957 78.3313 89.3878 75.933 52.2409 69.8822C22.934 65.0837 -2.0772 56.9641 0.136592 45.7213C4.30035 29.4437 63.2812 17.3111 105.739 11.1505C143.27 5.73315 183.543 2.3114 224.406 0.800998C251.642 -0.198613 279.24 -0.284661 306.517 0.66735C308.404 0.733259 309.769 1.27517 309.562 1.87933C309.362 2.478 307.681 2.9119 305.806 2.85331Z"/>
                                            </svg>
                                        </i>
                                    </span> And Abilities
                        </h2>
                    </div>
                    <div data-swiper-parallax="400" class="slide-text">
                        <p>We are providing you the best tutor to enhance your knowledge and skill. Lets get
                            started and get a relaxing learning.</p>
                    </div>
                    <div class="clearfix"></div>
                    <div data-swiper-parallax="500" class="slide-btns">
                        <a asp-action="About" asp-controller="Home" class="theme-btn">Get Started</a>
                        <ul>
                            <li class="video-holder">
                                <a href="https://www.youtube.com/embed/r5sw-6lJmTA?autoplay=1" class="video-btn"
                                   data-type="iframe" tabindex="0"><i class="fi flaticon-play"></i></a>
                            </li>
                            <li class="video-text">
                                <a href="https://www.youtube.com/embed/r5sw-6lJmTA?autoplay=1" class="video-btn"
                                   data-type="iframe" tabindex="0">
                                    Watch Our Video
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="student-pic">
                        <img src="~/assets/images/slider/1.png" alt="">
                        <div class="student-shape">
                            <div class="shape-1 wow zoomIn" data-wow-duration="2000ms"></div>
                            <div class="shape-2 wow zoomIn" data-wow-duration="1500ms"></div>
                            <div class="shape-3 wow zoomIn" data-wow-duration="1000ms"></div>
                        </div>
                        <div class="student">
                            <div class="icon"><i class="fi flaticon-team"></i></div>
                            <div class="content">
                                <h3>25k+</h3>
                                <p>Total Active Students</p>
                            </div>
                        </div>
                        <div class="wpo-supporter">
                            <div class="wpo-supporter-text">
                                <div class="content">
                                    <h3>200+</h3>
                                    <p>Top Expert Mentors</p>
                                </div>
                            </div>
                            <div class="wpo-supporter-img">
                                <ul class="wpo-supporter-slide owl-carousel">
                                    <li data-bs-toggle="tooltip" data-bs-html="true" title="Aliza Anny"><img
                                            src="~/assets/images/slider/client1.png" alt=""></li>
                                    <li data-bs-toggle="tooltip" data-bs-html="true" title="David Miller"><img
                                            src="~/assets/images/slider/client2.png" alt=""></li>
                                    <li data-bs-toggle="tooltip" data-bs-html="true" title="Maria Silva"><img
                                            src="~/assets/images/slider/client3.png" alt=""></li>
                                    <li data-bs-toggle="tooltip" data-bs-html="true" title="Takila Mas"><img
                                            src="~/assets/images/slider/client4.png" alt=""></li>
                                    <li data-bs-toggle="tooltip" data-bs-html="true" title="Jenny Lawba"><img
                                            src="~/assets/images/slider/client5.png" alt=""></li>
                                </ul>
                            </div>
                        </div>
                        <div class="wp-shape-1"><img src="~/assets/images/slider/shape-1.svg" alt=""></div>
                        <div class="wp-shape-2"><img src="~/assets/images/slider/shape-2.svg" alt=""></div>
                        <div class="wp-shape-3"><img src="~/assets/images/slider/shape-3.svg" alt=""></div>
                        <div class="wp-shape-4"><img src="~/assets/images/slider/shape-4.svg" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of hero slider -->

<!-- start of wpo-about-section -->
<section class="wpo-about-section section-padding">
    <div class="container">
        <div class="wpo-about-wrap">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="wpo-about-img-wrap">
                        <div class="wpo-about-img-left">
                            <div class="wpo-about-img">
                                <img src="~/assets/images/about/img-111.jpg" alt="">
                            </div>
                        </div>
                        <div class="wpo-about-img-right">
                            <div class="wpo-about-img-inner">
                                <img src="~/assets/images/about/img-222.png" alt="">
                            </div>
                            <div class="exprience-wrap">
                                <div class="exprience">
                                    <div class="icon"><i class="fi flaticon-award"></i></div>
                                    <div class="content">
                                        <h3>25+</h3>
                                        <p>Years Of Experience</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="wpo-about-text">
                        <div class="wpo-section-title">
                            <small>About Eduko</small>
                            <h2>A New Different Way To Improve Your
                                <span>
                                            Skills.
                                            <i class="shape">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 206 53"
                                                     fill="none">
                                                    <path
                                                        d="M152.182 2.58319C107.878 0.889793 54.8748 6.13932 21.2281 18.6943C14.2699 21.4407 7.93951 24.7738 5.70192 28.7128C4.27488 31.2398 5.03121 33.954 7.69121 36.2925C14.8835 42.3911 31.9822 45.4011 46.8006 47.3115C78.3067 51.0179 113.672 51.7406 145.489 48.3204C167.194 46.0009 200.667 39.5923 199.399 28.5709C198.543 20.0621 180.437 14.5729 162.979 11.6178C138.219 7.469 111.131 6.00576 84.5743 5.86862C71.32 5.85789 58.0913 6.85723 45.6675 8.78436C33.512 10.7186 21.2709 13.4317 12.6602 17.5817C11.2246 18.2877 8.62449 17.4553 9.9973 16.6813C20.7486 11.2493 38.0215 7.73493 53.9558 5.76368C77.1194 2.90994 101.75 3.75426 125.339 5.14356C158.167 7.2615 207.554 13.5139 204.928 30.7413C203.629 36.0898 194.762 40.5057 184.681 43.5503C156.563 51.768 119.114 53.6844 85.6331 52.5265C65.1694 51.7477 44.4831 50.1855 25.9972 46.2442C11.4129 43.1186 -1.0337 37.8297 0.0679738 30.5063C2.14003 19.9035 31.4913 12.0006 52.6201 7.98775C71.2971 4.45904 91.3384 2.2302 111.674 1.24636C125.228 0.595237 138.962 0.539188 152.536 1.15931C153.475 1.20224 154.154 1.55523 154.051 1.94876C153.951 2.33872 153.115 2.62135 152.182 2.58319Z"/>
                                                </svg>
                                            </i>
                                        </span>
                            </h2>
                        </div>
                        <p>Education is one of the most essential and valuable assets that an individual can
                            possess. It plays a pivotal role in shaping the future of individuals, societies,
                            and nations. The importance of education cannot be overstated, individuals
                            development of nations.</p>
                        <p>One of the primary benefits of education is its ability to empower individuals.
                            Through education, individuals acquire knowledge, skills, and enable them to
                            navigate the complexities of life.</p>
                        <div class="wpo-about-features-wrap">
                            <div class="wpo-about-features-item">
                                <div class="wpo-about-features-icon">
                                    <div class="icon">
                                        <i class="fi flaticon-training-1"></i>
                                    </div>
                                </div>
                                <div class="wpo-about-features-text">
                                    <h5>1250+ Courses</h5>
                                </div>
                            </div>
                            <div class="wpo-about-features-item">
                                <div class="wpo-about-features-icon">
                                    <div class="icon">
                                        <i class="fi flaticon-video-lesson"></i>
                                    </div>
                                </div>
                                <div class="wpo-about-features-text">
                                    <h5>500+ Free Class</h5>
                                </div>
                            </div>
                            <div class="wpo-about-features-item">
                                <div class="wpo-about-features-icon">
                                    <div class="icon">
                                        <i class="fi flaticon-team"></i>
                                    </div>
                                </div>
                                <div class="wpo-about-features-text">
                                    <h5>25k Students</h5>
                                </div>
                            </div>
                            <div class="wpo-about-features-item">
                                <div class="wpo-about-features-icon">
                                    <div class="icon">
                                        <i class="fi flaticon-training"></i>
                                    </div>
                                </div>
                                <div class="wpo-about-features-text">
                                    <h5>250+ Mentors</h5>
                                </div>
                            </div>
                        </div>
                        <a asp-action="About" asp-controller="Home" class="theme-btn-s2">Learn More About Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of wpo-about-section -->

<!-- start of wpo-courses-section -->
<section class="wpo-courses-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="wpo-section-title-s2">
                    <small>Our Courses</small>
                    <h2>Explore
                        <span>
                                    Courses
                                    <i class="shape">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 206 53" fill="none">
                                            <path
                                                d="M152.182 2.58319C107.878 0.889793 54.8748 6.13932 21.2281 18.6943C14.2699 21.4407 7.93951 24.7738 5.70192 28.7128C4.27488 31.2398 5.03121 33.954 7.69121 36.2925C14.8835 42.3911 31.9822 45.4011 46.8006 47.3115C78.3067 51.0179 113.672 51.7406 145.489 48.3204C167.194 46.0009 200.667 39.5923 199.399 28.5709C198.543 20.0621 180.437 14.5729 162.979 11.6178C138.219 7.469 111.131 6.00576 84.5743 5.86862C71.32 5.85789 58.0913 6.85723 45.6675 8.78436C33.512 10.7186 21.2709 13.4317 12.6602 17.5817C11.2246 18.2877 8.62449 17.4553 9.9973 16.6813C20.7486 11.2493 38.0215 7.73493 53.9558 5.76368C77.1194 2.90994 101.75 3.75426 125.339 5.14356C158.167 7.2615 207.554 13.5139 204.928 30.7413C203.629 36.0898 194.762 40.5057 184.681 43.5503C156.563 51.768 119.114 53.6844 85.6331 52.5265C65.1694 51.7477 44.4831 50.1855 25.9972 46.2442C11.4129 43.1186 -1.0337 37.8297 0.0679738 30.5063C2.14003 19.9035 31.4913 12.0006 52.6201 7.98775C71.2971 4.45904 91.3384 2.2302 111.674 1.24636C125.228 0.595237 138.962 0.539188 152.536 1.15931C153.475 1.20224 154.154 1.55523 154.051 1.94876C153.951 2.33872 153.115 2.62135 152.182 2.58319Z"/>
                                        </svg>
                                    </i>
                                </span>
                        By Category
                    </h2>
                </div>
            </div>
        </div>
        <div class="row-grid wpo-courses-wrap wpo-courses-slider owl-carousel">
            <div class="grid s1">
                <div class="wpo-courses-item">
                    <div class="wpo-courses-text">
                        <div class="courses-icon">
                            <i class="fi flaticon-user-experience"></i>
                        </div>
                        <h2><a asp-action="CourseSingle" asp-controller="Course">UI/UX Design</a></h2>
                        <p>We are providing you the best UI/UX design guideline. That help you be professional.
                        </p>
                    </div>
                </div>
            </div>
            <div class="grid s2">
                <div class="wpo-courses-item">
                    <div class="wpo-courses-text">
                        <div class="courses-icon">
                            <i class="fi flaticon-megaphone"></i>
                        </div>
                        <h2><a asp-action="CourseSingle" asp-controller="Course">Digital Marketing</a></h2>
                        <p>We are providing you the best Digital Marketing guideline. That help you be
                            professional. </p>
                    </div>
                </div>
            </div>
            <div class="grid s3">
                <div class="wpo-courses-item">
                    <div class="wpo-courses-text">
                        <div class="courses-icon">
                            <i class="fi flaticon-code"></i>
                        </div>
                        <h2><a asp-action="CourseSingle" asp-controller="Course">Development</a></h2>
                        <p>We are providing you the best Development guideline. That help you be professional.
                        </p>
                    </div>
                </div>
            </div>
            <div class="grid s4">
                <div class="wpo-courses-item">
                    <div class="wpo-courses-text">
                        <div class="courses-icon">
                            <i class="fi flaticon-knowledge"></i>
                        </div>
                        <h2><a asp-action="CourseSingle" asp-controller="Course">Self Improvement</a></h2>
                        <p>We are providing you the best Self Improvement guideline. That help you be
                            professional. </p>
                    </div>
                </div>
            </div>
            <div class="grid s5">
                <div class="wpo-courses-item">
                    <div class="wpo-courses-text">
                        <div class="courses-icon">
                            <i class="fi flaticon-video-lesson"></i>
                        </div>
                        <h2><a asp-action="CourseSingle" asp-controller="Course">Video Editing</a></h2>
                        <p>We are providing you the best Video Editing guideline. That help you be professional.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shape-1"><img src="~/assets/images/shape/1.svg" alt=""></div>
    <div class="shape-2"><img src="~/assets/images/shape/2.svg" alt=""></div>
    <div class="shape-3"><img src="~/assets/images/shape/3.svg" alt=""></div>
    <div class="shape-4"><img src="~/assets/images/shape/4.svg" alt=""></div>
</section>
<!-- end of wpo-courses-section -->

<!-- wpo-popular-area start -->
<div class="wpo-popular-area section-padding">
    <div class="container">
        <div class="wpo-section-title-s2">
            <small>Popular Courses</small>
            <h2>Discover Your Favorite
                <span>
                            Courses
                            <i class="shape">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 206 53" fill="none">
                                    <path
                                        d="M152.182 2.58319C107.878 0.889793 54.8748 6.13932 21.2281 18.6943C14.2699 21.4407 7.93951 24.7738 5.70192 28.7128C4.27488 31.2398 5.03121 33.954 7.69121 36.2925C14.8835 42.3911 31.9822 45.4011 46.8006 47.3115C78.3067 51.0179 113.672 51.7406 145.489 48.3204C167.194 46.0009 200.667 39.5923 199.399 28.5709C198.543 20.0621 180.437 14.5729 162.979 11.6178C138.219 7.469 111.131 6.00576 84.5743 5.86862C71.32 5.85789 58.0913 6.85723 45.6675 8.78436C33.512 10.7186 21.2709 13.4317 12.6602 17.5817C11.2246 18.2877 8.62449 17.4553 9.9973 16.6813C20.7486 11.2493 38.0215 7.73493 53.9558 5.76368C77.1194 2.90994 101.75 3.75426 125.339 5.14356C158.167 7.2615 207.554 13.5139 204.928 30.7413C203.629 36.0898 194.762 40.5057 184.681 43.5503C156.563 51.768 119.114 53.6844 85.6331 52.5265C65.1694 51.7477 44.4831 50.1855 25.9972 46.2442C11.4129 43.1186 -1.0337 37.8297 0.0679738 30.5063C2.14003 19.9035 31.4913 12.0006 52.6201 7.98775C71.2971 4.45904 91.3384 2.2302 111.674 1.24636C125.228 0.595237 138.962 0.539188 152.536 1.15931C153.475 1.20224 154.154 1.55523 154.051 1.94876C153.951 2.33872 153.115 2.62135 152.182 2.58319Z"/>
                                </svg>
                            </i>
                        </span>
            </h2>
        </div>
        <div class="wpo-popular-wrap">
            <div class="row">
                <div class="col col-lg-4 col-md-6 col-12">
                    <div class="wpo-popular-single">
                        <div class="wpo-popular-item">
                            <div class="wpo-popular-img">
                                <img src="~/assets/images/popular/img-1.jpg" alt="">
                                <div class="thumb">
                                    <span>$80</span>
                                </div>
                            </div>
                            <div class="wpo-popular-content">
                                <div class="wpo-popular-text-top">
                                    <ul>
                                        <li><img src="~/assets/images/popular/avater/img-1.jpg" alt=""></li>
                                        <li><a asp-action="Index" asp-controller="Course">Robert Henry</a></li>
                                    </ul>
                                    <ul>
                                        <li><i class="fi flaticon-star"></i></li>
                                        <li>(4.5)</li>
                                    </ul>
                                </div>
                                <h2><a asp-action="CourseSingle" asp-controller="Course">Learn WordPress & Elementor for Beginners</a>
                                </h2>

                                <div class="wpo-popular-text-bottom">
                                    <ul>
                                        <li><i class="fi flaticon-reading-book"></i> 245 Students</li>
                                        <li><i class="fi flaticon-agenda"></i> 25 Lesson</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-4 col-md-6 col-12">
                    <div class="wpo-popular-single">
                        <div class="wpo-popular-item">
                            <div class="wpo-popular-img">
                                <img src="~/assets/images/popular/img-2.jpg" alt="">
                                <div class="thumb">
                                    <span>$200</span>
                                </div>
                            </div>
                            <div class="wpo-popular-content">
                                <div class="wpo-popular-text-top">
                                    <ul>
                                        <li><img src="~/assets/images/popular/avater/img-2.jpg" alt=""></li>
                                        <li><a asp-action="CourseSingle" asp-controller="Course">Jenny Wilson</a></li>
                                    </ul>
                                    <ul>
                                        <li><i class="fi flaticon-star"></i></li>
                                        <li>(5.0)</li>
                                    </ul>
                                </div>
                                <h2><a asp-action="CourseSingle" asp-controller="Course">The Complete Guide to Be a Graphics Designer.</a>
                                </h2>

                                <div class="wpo-popular-text-bottom">
                                    <ul>
                                        <li><i class="fi flaticon-reading-book"></i> 365 Students</li>
                                        <li><i class="fi flaticon-agenda"></i> 35 Lesson</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-4 col-md-6 col-12">
                    <div class="wpo-popular-single">
                        <div class="wpo-popular-item">
                            <div class="wpo-popular-img">
                                <img src="~/assets/images/popular/img-3.jpg" alt="">
                                <div class="thumb">
                                    <span>$90</span>
                                </div>
                            </div>
                            <div class="wpo-popular-content">
                                <div class="wpo-popular-text-top">
                                    <ul>
                                        <li><img src="~/assets/images/popular/avater/img-3.jpg" alt=""></li>
                                        <li><a asp-action="Index" asp-controller="Course">Jerome Bell</a></li>
                                    </ul>
                                    <ul>
                                        <li><i class="fi flaticon-star"></i></li>
                                        <li>(4.9)</li>
                                    </ul>
                                </div>
                                <h2><a hasp-action="CourseSingle" asp-controller="Course">Learning How To Write As A Professional
                                        Author</a>
                                </h2>

                                <div class="wpo-popular-text-bottom">
                                    <ul>
                                        <li><i class="fi flaticon-reading-book"></i> 134 Students</li>
                                        <li><i class="fi flaticon-agenda"></i> 12 Lesson</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="more-btn text-center">
            <a asp-action="Index" asp-controller="Course" class="theme-btn-s2">View All Courses</a>
        </div>
    </div>
</div>
<!-- wpo-popular-area end -->

<!--Start wpo-testimonial-section-->
<section class="wpo-testimonial-section section-padding">
    <div class="container">
        <div class="wpo-section-title-s2">
            <small>Testimonials</small>
            <h2>What Our Students
                <span>
                            Says
                            <i class="shape">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 127 50" fill="none">
                                    <path
                                        d="M93.7612 1.81784C66.465 0.219842 33.8091 5.17362 13.0789 17.0213C8.79185 19.613 4.89164 22.7583 3.51303 26.4753C2.63381 28.8599 3.0998 31.4212 4.73866 33.628C9.16992 39.3831 19.7047 42.2235 28.8345 44.0263C48.2459 47.5238 70.0346 48.2058 89.6377 44.9783C103.011 42.7895 123.633 36.7419 122.853 26.3414C122.325 18.3121 111.17 13.1321 100.413 10.3435C85.1589 6.42839 68.4696 5.04759 52.1074 4.91817C43.9412 4.90804 35.7909 5.85108 28.1364 7.66965C20.6472 9.49496 13.1053 12.0551 7.80009 15.9713C6.9156 16.6375 5.31367 15.8521 6.15947 15.1217C12.7835 9.99574 23.4255 6.67934 33.2429 4.81914C47.5143 2.12618 62.6896 2.92293 77.2231 4.23396C97.4486 6.23258 127.877 12.1328 126.259 28.3896C125.459 33.4367 119.995 37.6039 113.784 40.4769C96.4604 48.2317 73.388 50.0401 52.7598 48.9474C40.1518 48.2126 27.4066 46.7384 16.0173 43.0191C7.03166 40.0695 -0.636876 35.0786 0.0418796 28.1679C1.3185 18.1624 19.4022 10.7047 32.4199 6.91791C43.9271 3.58801 56.2749 1.48473 68.8037 0.556321C77.1545 -0.0581187 85.6161 -0.11101 93.9792 0.474171C94.5578 0.514683 94.9763 0.847786 94.913 1.21915C94.8514 1.58714 94.3362 1.85385 93.7612 1.81784Z"/>
                                </svg>
                            </i>
                        </span>
                About Us
            </h2>
        </div>
        <div class="wpo-testimonial-wrap">
            <div class="row align-items-center">
                <div class="wpo-testimonial-items wpo-testimonial-active owl-carousel">
                    <div class="wpo-testimonial-item">
                        <div class="wpo-testimonial-text">
                            <div class="wpo-testimonial-text-btm">
                                <div class="wpo-testimonial-text-btm-img">
                                    <img src="~/assets/images/testimonial/thumb1.png" alt="">
                                </div>
                                <div class="wpo-testimonial-text-btm-info">
                                    <h3>Leslie Alexander</h3>
                                    <span>Students of UX/UI</span>
                                </div>
                            </div>
                            <ul>
                                <li><i class="fi flaticon-star"></i></li>
                                <li><i class="fi flaticon-star"></i></li>
                                <li><i class="fi flaticon-star"></i></li>
                                <li><i class="fi flaticon-star"></i></li>
                                <li><i class="fi flaticon-star"></i></li>
                                <li>(5.0)</li>
                            </ul>
                            <i class="quote fi flaticon-right-quote-sign"></i>
                            <p>I can't express enough gratitude for the awesome experience I had during my
                                education journey. As a beginner they support me as much possible.</p>
                        </div>
                    </div>
                    <div class="wpo-testimonial-item">
                        <div class="wpo-testimonial-text">
                            <div class="wpo-testimonial-text-btm">
                                <div class="wpo-testimonial-text-btm-img">
                                    <img src="~/assets/images/testimonial/thumb2.png" alt="">
                                </div>
                                <div class="wpo-testimonial-text-btm-info">
                                    <h3>Eleanor Pena</h3>
                                    <span>Students of Graphic Designer</span>
                                </div>
                            </div>
                            <ul>
                                <li><i class="fi flaticon-star"></i></li>
                                <li><i class="fi flaticon-star"></i></li>
                                <li><i class="fi flaticon-star"></i></li>
                                <li><i class="fi flaticon-star"></i></li>
                                <li><i class="fi flaticon-star off"></i></li>
                                <li>(4.0)</li>
                            </ul>
                            <i class="quote fi flaticon-right-quote-sign"></i>
                            <p>I can't express enough gratitude for the awesome experience I had during my
                                education journey. As a beginner they support me as much possible.</p>
                        </div>
                    </div>
                    <div class="wpo-testimonial-item">
                        <div class="wpo-testimonial-text">
                            <div class="wpo-testimonial-text-btm">
                                <div class="wpo-testimonial-text-btm-img">
                                    <img src="~/assets/images/testimonial/thumb3.png" alt="">
                                </div>
                                <div class="wpo-testimonial-text-btm-info">
                                    <h3>Annette Black</h3>
                                    <span>Students of PHP</span>
                                </div>
                            </div>
                            <ul>
                                <li><i class="fi flaticon-star"></i></li>
                                <li><i class="fi flaticon-star"></i></li>
                                <li><i class="fi flaticon-star"></i></li>
                                <li><i class="fi flaticon-star"></i></li>
                                <li><i class="fi flaticon-star"></i></li>
                                <li>(5.0)</li>
                            </ul>
                            <i class="quote fi flaticon-right-quote-sign"></i>
                            <p>I can't express enough gratitude for the awesome experience I had during my
                                education journey. As a beginner they support me as much possible.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shape-1"><img src="~/assets/images/testimonial/shape-1.png" alt=""></div>
    <div class="shape-2"><img src="~/assets/images/testimonial/shape-2.png" alt=""></div>
</section>
<!--End wpo-testimonial-section-->

<!-- start wpo-Team-section -->
<section class="wpo-team-section section-padding pb-big">
    <div class="container">
        <div class="wpo-section-title-s2">
            <small>Our Professionals</small>
            <h2>Meet our
                <span>
                            Teachers
                            <i class="shape">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 206 53" fill="none">
                                    <path
                                        d="M152.182 2.58319C107.878 0.889793 54.8748 6.13932 21.2281 18.6943C14.2699 21.4407 7.93951 24.7738 5.70192 28.7128C4.27488 31.2398 5.03121 33.954 7.69121 36.2925C14.8835 42.3911 31.9822 45.4011 46.8006 47.3115C78.3067 51.0179 113.672 51.7406 145.489 48.3204C167.194 46.0009 200.667 39.5923 199.399 28.5709C198.543 20.0621 180.437 14.5729 162.979 11.6178C138.219 7.469 111.131 6.00576 84.5743 5.86862C71.32 5.85789 58.0913 6.85723 45.6675 8.78436C33.512 10.7186 21.2709 13.4317 12.6602 17.5817C11.2246 18.2877 8.62449 17.4553 9.9973 16.6813C20.7486 11.2493 38.0215 7.73493 53.9558 5.76368C77.1194 2.90994 101.75 3.75426 125.339 5.14356C158.167 7.2615 207.554 13.5139 204.928 30.7413C203.629 36.0898 194.762 40.5057 184.681 43.5503C156.563 51.768 119.114 53.6844 85.6331 52.5265C65.1694 51.7477 44.4831 50.1855 25.9972 46.2442C11.4129 43.1186 -1.0337 37.8297 0.0679738 30.5063C2.14003 19.9035 31.4913 12.0006 52.6201 7.98775C71.2971 4.45904 91.3384 2.2302 111.674 1.24636C125.228 0.595237 138.962 0.539188 152.536 1.15931C153.475 1.20224 154.154 1.55523 154.051 1.94876C153.951 2.33872 153.115 2.62135 152.182 2.58319Z"/>
                                </svg>
                            </i>
                        </span>
            </h2>
        </div>
        <div class="wpo-team-wrap">
            <div class="row">
                <div class="col col-lg-3 col-md-6 col-12">
                    <div class="wpo-team-item">
                        <div class="wpo-team-img">
                            <div class="wpo-team-img-box">
                                <img src="~/assets/images/team/1.jpg" alt="">
                                <ul>
                                    <li><a href="#"><i class="fi flaticon-facebook-app-symbol"></i></a></li>
                                    <li><a href="#"><i class="fi flaticon-twitter"></i></a></li>
                                    <li><a href="#"><i class="fi flaticon-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="wpo-team-text">
                            <h2><a asp-action="TeacherSingle" asp-controller="Teacher">Jenny Wilson</a></h2>
                            <span>Graphic Designer</span>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-3 col-md-6 col-12">
                    <div class="wpo-team-item active">
                        <div class="wpo-team-img">
                            <div class="wpo-team-img-box">
                                <img src="~/assets/images/team/2.jpg" alt="">
                                <ul>
                                    <li><a href="#"><i class="fi flaticon-facebook-app-symbol"></i></a></li>
                                    <li><a href="#"><i class="fi flaticon-twitter"></i></a></li>
                                    <li><a href="#"><i class="fi flaticon-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="wpo-team-text">
                            <h2><a asp-action="TeacherSingle" asp-controller="Teacher">Dianne Russell</a></h2>
                            <span>UX Designer</span>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-3 col-md-6 col-12">
                    <div class="wpo-team-item">
                        <div class="wpo-team-img">
                            <div class="wpo-team-img-box">
                                <img src="~/assets/images/team/3.jpg" alt="">
                                <ul>
                                    <li><a href="#"><i class="fi flaticon-facebook-app-symbol"></i></a></li>
                                    <li><a href="#"><i class="fi flaticon-twitter"></i></a></li>
                                    <li><a href="#"><i class="fi flaticon-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="wpo-team-text">
                            <h2><a asp-action="TeacherSingle" asp-controller="Teacher">Courtney Henry</a></h2>
                            <span>Senior Marketer</span>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-3 col-md-6 col-12">
                    <div class="wpo-team-item">
                        <div class="wpo-team-img">
                            <div class="wpo-team-img-box">
                                <img src="~/assets/images/team/4.jpg" alt="">
                                <ul>
                                    <li><a href="#"><i class="fi flaticon-facebook-app-symbol"></i></a></li>
                                    <li><a href="#"><i class="fi flaticon-twitter"></i></a></li>
                                    <li><a href="#"><i class="fi flaticon-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="wpo-team-text">
                            <h2><a asp-action="TeacherSingle" asp-controller="Teacher">Annette Black</a></h2>
                            <span>Web Developer</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end container -->
    <div class="shape-1"><img src="~/assets/images/team/shape-1.svg" alt=""></div>
    <div class="shape-2"><img src="~/assets/images/team/shape-2.svg" alt=""></div>
    <div class="shape-3"><img src="~/assets/images/team/shape-3.svg" alt=""></div>
    <div class="shape-4"><img src="~/assets/images/team/shape-4.svg" alt=""></div>
</section>
<!-- end Team-section -->

<!-- start wpo-choose-section -->
<section class="wpo-choose-section">
    <div class="container">
        <div class="row">
            <div class="col col-lg-7">
                <div class="wpo-choose-wrap">
                    <div class="wpo-section-title-s2">
                        <small>Why Choose Us</small>
                        <h2>What Make Us
                            <span>
                                        Different
                                        <i class="shape">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 206 53" fill="none">
                                                <path
                                                    d="M152.182 2.58319C107.878 0.889793 54.8748 6.13932 21.2281 18.6943C14.2699 21.4407 7.93951 24.7738 5.70192 28.7128C4.27488 31.2398 5.03121 33.954 7.69121 36.2925C14.8835 42.3911 31.9822 45.4011 46.8006 47.3115C78.3067 51.0179 113.672 51.7406 145.489 48.3204C167.194 46.0009 200.667 39.5923 199.399 28.5709C198.543 20.0621 180.437 14.5729 162.979 11.6178C138.219 7.469 111.131 6.00576 84.5743 5.86862C71.32 5.85789 58.0913 6.85723 45.6675 8.78436C33.512 10.7186 21.2709 13.4317 12.6602 17.5817C11.2246 18.2877 8.62449 17.4553 9.9973 16.6813C20.7486 11.2493 38.0215 7.73493 53.9558 5.76368C77.1194 2.90994 101.75 3.75426 125.339 5.14356C158.167 7.2615 207.554 13.5139 204.928 30.7413C203.629 36.0898 194.762 40.5057 184.681 43.5503C156.563 51.768 119.114 53.6844 85.6331 52.5265C65.1694 51.7477 44.4831 50.1855 25.9972 46.2442C11.4129 43.1186 -1.0337 37.8297 0.0679738 30.5063C2.14003 19.9035 31.4913 12.0006 52.6201 7.98775C71.2971 4.45904 91.3384 2.2302 111.674 1.24636C125.228 0.595237 138.962 0.539188 152.536 1.15931C153.475 1.20224 154.154 1.55523 154.051 1.94876C153.951 2.33872 153.115 2.62135 152.182 2.58319Z"/>
                                            </svg>
                                        </i>
                                    </span>
                        </h2>
                    </div>
                    <div class="wpo-choose-grids clearfix">
                        <div class="grid">
                            <div class="icon">
                                <i class="fi flaticon-training"></i>
                            </div>
                            <div class="info">
                                <h3>Experienced Mentor</h3>
                                <p>We have highly expert mentors for our student’s best support .</p>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="icon">
                                <i class="fi flaticon-support"></i>
                            </div>
                            <div class="info">
                                <h3>Dedicated Support</h3>
                                <p>We are always here to help our students and solve problems for 24/7.</p>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="icon">
                                <i class="fi flaticon-e-learning"></i>
                            </div>
                            <div class="info">
                                <h3>Digital Learning</h3>
                                <p>We have highly expert mentors for our student’s best support .</p>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="icon">
                                <i class="fi flaticon-medal-1"></i>
                            </div>
                            <div class="info">
                                <h3>Global Certificate</h3>
                                <p>We have highly expert mentors for our student’s best support .</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="right-img">
                    <img src="~/assets/images/choose.jpg" alt="">
                    <a href="https://www.youtube.com/embed/r5sw-6lJmTA?autoplay=1" class="video-btn"
                       data-type="iframe">
                        <i class="fi flaticon-play-1"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end wpo-choose-section -->

<!-- start wpo-blog-section -->
<section class="wpo-blog-section section-padding" id="blog">
    <div class="container">
        <div class="wpo-section-title-s2">
            <small>Our Blogs</small>
            <h2>Our Latest
                <span>
                            News
                            <i class="shape">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 145 46" fill="none">
                                    <path
                                        d="M107.465 1.86127C76.1791 0.382526 38.7504 4.96662 14.9904 15.9301C10.0768 18.3284 5.60658 21.239 4.02647 24.6787C3.01875 26.8853 3.55285 29.2555 5.43123 31.2976C10.5101 36.6231 22.5846 39.2515 33.0488 40.9198C55.2972 44.1564 80.2705 44.7874 102.739 41.8008C118.066 39.7753 141.703 34.179 140.808 24.5547C140.204 17.1246 127.418 12.3312 115.089 9.75066C97.6052 6.12775 78.4767 4.84999 59.7231 4.73023C50.3634 4.72086 41.0218 5.59353 32.2486 7.27637C23.6649 8.96547 15.0207 11.3346 8.94011 14.9585C7.92634 15.575 6.09028 14.8482 7.05971 14.1723C14.6519 9.42888 26.8493 6.35997 38.1015 4.63859C54.4587 2.1466 71.852 2.88389 88.5096 4.09708C111.691 5.94655 146.566 11.4064 144.712 26.45C143.795 31.1206 137.533 34.9767 130.415 37.6353C110.558 44.8114 84.1139 46.4849 60.4708 45.4737C46.0201 44.7937 31.4122 43.4295 18.3582 39.9878C8.05936 37.2584 -0.729958 32.6399 0.0480004 26.2449C1.51121 16.9861 22.238 10.0849 37.1582 6.58074C50.3473 3.49934 64.4997 1.55302 78.8596 0.693895C88.431 0.125308 98.1292 0.0763642 107.715 0.617875C108.378 0.655364 108.857 0.963609 108.785 1.30726C108.714 1.64779 108.124 1.89459 107.465 1.86127Z"/>
                                </svg>
                            </i>
                        </span>
            </h2>
        </div>
        <div class="wpo-blog-items">
            <div class="row">
                <div class="col col-lg-4 col-md-6 col-12">
                    <div class="wpo-blog-item">
                        <div class="wpo-blog-img">
                            <img src="~/assets/images/blog/img-1.jpg" alt="">
                        </div>
                        <div class="wpo-blog-content">
                            <ul>
                                <li>25 Sep 2023</li>
                                <li>By <a asp-action="BlogDetails" asp-controller="Blog">Anne William</a></li>
                            </ul>
                            <h2><a asp-action="Index" asp-controller="Blog">The Surprising Reason College Tuition Is Crazy Expensive</a>
                            </h2>
                            <a asp-action="BlogDetails" asp-controller="Blog" class="more">Continue Reading</a>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-4 col-md-6 col-12">
                    <div class="wpo-blog-item">
                        <div class="wpo-blog-img">
                            <img src="~/assets/images/blog/img-2.jpg" alt="">
                        </div>
                        <div class="wpo-blog-content">
                            <ul>
                                <li>26 Sep 2023</li>
                                <li>By <a asp-action="BlogDetails" asp-controller="Blog">Robert Fox</a></li>
                            </ul>
                            <h2><a asp-action="Index" asp-controller="Blog">Become a great WordPress & PHP developer.</a></h2>
                            <a asp-action="BlogDetails" asp-controller="Blog" class="more">Continue Reading</a>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-4 col-md-6 col-12">
                    <div class="wpo-blog-item">
                        <div class="wpo-blog-img">
                            <img src="~/assets/images/blog/img-3.jpg" alt="">
                        </div>
                        <div class="wpo-blog-content">
                            <ul>
                                <li>28 Sep 2023</li>
                                <li>By <a asp-action="BlogDetails" asp-controller="Blog">Devon Lane</a></li>
                            </ul>
                            <h2><a asp-action="Index" asp-controller="Blog">A critical review of mobile learning integration</a></h2>
                            <a asp-action="BlogDetails" asp-controller="Blog" class="more">Continue Reading</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end container -->
</section>
<!-- end wpo-blog-section -->

<!-- start wpo-subscribe-section -->
<section class="wpo-subscribe-section section-padding">
    <div class="container">
        <div class="wpo-subscribe-wrap">
            <div class="subscribe-text">
                <h3>Subscribe to our newsletter to receive
                    latest news on our services.</h3>
            </div>
            <div class="subscribe-form">
                <form action="#">
                    <div class="input-field">
                        <input type="email" placeholder="Enter your email" required>
                        <button type="submit">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>
    </div> <!-- end container -->
</section>
<!-- end subscribe-section -->