/*--------------------------------------------------------------
12. teacher-page
--------------------------------------------------------------*/

.teacher-wrap{
    padding-bottom: 120px;
}

.volunter-img {
    padding: 30px;

    img{
        width: 100%;
    }
}

.teacher-img-wrap {
    box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 0.15);
}

.teacher-contact-form form input,
.teacher-contact-form form select,
.teacher-contact-form form label,
.teacher-contact-form form textarea {
    border: 1px solid #d0d4df;
    padding-left: 15px;
    height: 50px;
    width: 100%;

}

.teacher-contact-form form label {
    line-height: 50px;
    font-weight: 400;
    font-size: 14px;
}

.teacher-contact-form form label.error{
    height: 15px;
    border: 0;
    line-height: 10px;
    padding-left: 0;
}

.teacher-contact-form .form-group-in input {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.teacher-contact-form form textarea{
    height: 100px;
}

.teacher-contact-form .form-group-in {
    position: relative;
}

.teacher-contact-form .form-group-in i {
    position: absolute;
    right: 30px;
    top: 17px;
    font-size: 20px;
}

.teacher-contact-form .form-group {
    margin-bottom: 30px;
}

.teacher-contact-form {
    max-width: 760px;
    margin: auto;
    padding: 50px 40px;
    background: #fff;
    margin-top: -295px;
    position: relative;
    z-index: 1;
}

.teacher-contact-form:after {
    position: absolute;
    left: 0px;
    bottom: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: #fff;
    z-index: -1;
}

.teacher-contact-form:before {
    position: absolute;
    left: -7px;
    bottom: -8px;
    width: 102%;
    height: 47%;
    content: "";
    background: #ffc4ad;
    z-index: -1;
}

.teacher-contact-form h2 {
    margin-top: 0;
    font-size: 36px;
    text-align: center;
    margin-bottom: 40px;
}

@media(max-width: 1200px) {
    .teacher-contact-form {
        max-width: 635px;
        margin-top: -210px;

        &:before{
            height: 62%;
            width: 103%;
        }
    }
}

@media(max-width: 767px) {
    .teacher-contact-form {
        margin-top: 0px;
        padding: 14px 16px;
        box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 0.15);
        margin-top: 50px;
        padding-top: 30px;
    }

    .teacher-contact-form h2 {
        font-size: 23px;
    }

    .teacher-area {
        padding: 70px 0 0;
    }
}

.teacher-contact-form .submit-area {
    text-align: center;
}
